@import "./_variables";

:root {
    font-size: .9rem;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: normal;
}
p {
    font-size: 1.4em;
    font-weight: lighter;
}
img {
	display: block;
}
* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	position: relative;
    font-family: 'Noto Sans SC', sans-serif;
    overflow-anchor: none;
}
body:not(.loaded) > * {
    opacity: 0 !important;
}
@media only screen and (max-width: $breakpoint) {
    :root {
        font-size: .8rem;
    }
}

.container {
    margin: 2.5rem 0;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-in-contents > * {
    opacity: 0;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}
@for $index from 1 through 30 {
    .slide-in-contents > :nth-child(#{$index}) {
        animation-delay: ($index - 1) * .04s;
    }
}

button::-moz-focus-inner {
    border: 0;
  }